@charset "utf-8";

/*
 * Global Styles
 */

#preview-bar-iframe,
.collection-digital-goods-vat-tax,
.collection-monarch-regular,
.collection-skrappa-bold-condensed,
.collection-frontpage,
#admin-bar-iframe{
  	display: none !important;
}


/* RESET CSS
================================================== */
*{

	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body, div, span,
header, footer, section, article, aside, menu, nav,
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, a, strong, b, i, s, address, sub, sup,
form, label{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;


}
ol, ul, li{
	list-style: none;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

html{
n
  font-size:2px;
    padding-bottom:0px!important}
input,
button,
select{
  font-family:"helvetica";
  font-weight: bold;
  font-size: 100%;
  	padding: 0;
	margin: 0;
  	display: inline-block;
  	-webkit-appearance: none;
  	-moz-appearance: none;
    appearance: none;
  	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
  	border: 0;
    font-size:11px!important;
	color: inherit;
	background: transparent;
	background-color: transparent;
  	line-height: normal !important;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
input[type="checkbox"],
button,
select{
    display:block;
    cursor: pointer;
    font-family:"helvetica";
    font-weight: bold;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
input{

}
input:disabled,
button:disabled,
select:disabled{
  	pointer-events: none;
	opacity: 1;
}
::-webkit-input-placeholder,
::placeholder{
  	color: inherit;
	line-height: normal !important;
  	opacity: 1;
}
::-webkit-scrollbar{
	display: none;
}
:focus{
	outline: none !important;
}
:focus::-ms-value{
  	background-color: none;
  	color: inherit;
}
::-moz-focus-inner{
  	border: none !important;
}
.active{
  	color:#ff1493;
}
a:hover{
	color:#ff1493;
}

/* BASIC STYLES
================================================== */
::selection{

}

body{
    font-family:"helvetica";
    font-weight: bold;
  	background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	width: 100%;
	height: 100%;
  	margin: auto;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
  	font-smoothing: antialiased;
}
img,
video{
	height: auto;
	display: block;
	object-fit: contain;
  	font-size: 0;
	line-height: 0;
  	transition:0.2s ease;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
a{
  	color: inherit;
  	text-decoration: none;
  	cursor: pointer;
}

/* MAIN
================================================== */
header {
    width:fit-content;
    z-index: 1000;
    top: 0px;
    position: sticky;

}
footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.menu{
  font-size: 60px;
  align-items: center;
  padding:20px;
  grid-gap:20px;
  display:grid;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  color: black;
  position: sticky;
  top: 10px;
}
div#cart {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 60px;
}
.cart-total{
  margin-left: 20px;
}

/* SHOP
================================================== */
.main{
  	padding:0px 20px 20px 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(15,1fr);
}
#main-collection.main > div:not(.events){
  	margin-bottom: 300px;
}
.main .main-title{
	margin-bottom: 50px;
}
.all_products{
  grid-gap: 30px;
      grid-column: 5/ span 6;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
}
img{
	width:100%;
}
.product{
	display:grid;
  	grid-gap:5px;
    height: fit-content;
    display: grid;
}
.product .main-information{
	display: flex;
  	justify-content: space-between;
}
.product #bag-total{
	margin-top: 10px;

}
.product #bag-total .title{
	display: flex;
  	align-items:center;
  	justify-content: space-between;
}
.product #bag-total .sale,
.product #bag-total .sold-out{
	text-transform: lowercase;
}
.product #bag-total .sale{
  color: #ff1493;
}
 button#add-to-cart{
    font-family: 'NimbusSansExtdDBlack';
  	width: fit-content;
  	align-self: flex-end;
   font-size:10px;
}

 button#produ{
    font-family: 'NimbusSansExtdDBlack';
   color:black;
  	align-self: flex-end;
       border: 1px solid;
 padding:6px 5px 3px 5px;
       width: 10vw;
}
 button#produ.active,
 button#produ:focus{
   background-color:black;
   color:white;
       border: 1px solid;
 padding:6px 5px 3px 5px;
}
 button#checkout{
    font-family: 'NimbusSansExtdDBlack';
  align-self: flex-end;
          border: 1px solid;
   text-align:center!important;
 padding:6px 5px 3px 5px;
}
 button#add-to-cart.active,
 button#add-to-cart:focus{
  	color: #ff1493;
}
 button#checkout.active,
 button#checkout:focus{
     background-color:black;
   color:white;
}
/* STOCKIST
================================================== */
/* CART
================================================== */
.product-title{}
.product-title:hover{}
#cart-wrapper{
    margin-top:50px;
    grid-column: span 15;
    display: grid;
    padding:0px 20px 20px 20px;
    grid-template-columns: repeat(15,1fr);
}
#cart-wrapper .item{
    display: grid;
  	column-gap:20px;
  row-gap:0px;
grid-column:3/span 12;
    grid-template-columns: repeat(15,1fr);}

#cart-wrapper .item .thumb{
     grid-column: span 3;
 	 display:grid;
  	 row-gap:10px;
}
#cart-wrapper #checkout {
text-align: right;
    display: grid;
    row-gap: 10px;
    grid-column: 8/span 2;}
.item-quantity{
  display:flex;
  justify-content: space-between;
  grid-column: span 4;
}
.item-title{
display:flex;
justify-content:space-between;
}
.item-quantity span{
  cursor:pointer;
}
.item-quantity span:hover{
  color:#ff1493;
}
.clear{
     grid-column: 8/span 2;
    height: fit-content;
    text-align: right;
}
.variations {
    grid-column: span 2;
    display: grid;
    row-gap: 10px;
    height: fit-content;
    justify-content: space-between;
}
.checkout{
  position: sticky;
  grid-column: span 4;
  height: fit-content;
  top: 105px;
  color:black;
}
/* FONTS
================================================== */
@font-face {
    font-family:'HelveticaNeueLTPro-BdEx';
    src: url('HelveticaNeueLTPro-BdEx.woff') format('woff');
   	font-weight: normal;
    font-style: normal;
  	font-display: swap;
}
/* STUDIO
================================================== */
/* RESPONSIVE
================================================== */
@media (max-width: 800px){
}
/*BIGGER DESKTOP*/
@media (min-width: 1920px){
}

/*NORMAL DESKTOP*/
@media (min-width: 1681px) and (max-width: 1920px){

}

/*BIG LAPTOP DESKTOP*/
@media (min-width: 1441px) and (max-width: 1680px){

}


/*MOBILE CARD*/
@media (max-width: 812px) and (orientation: landscape){

}

/*MOBILE LANDSCAPE*/
@media (max-width: 812px){

}

/*IPAD PORTRAIT*/
@media (max-width: 768px){

}

/*SMALL TABLET*/
@media (max-width: 600px){

}

/*MOBILE*/
@media (max-width: 414px){

}

/*SMALL MOBILE*/
@media (max-width: 320px){

}
