@charset "utf-8";

/*
 * Global Styles
 */

#preview-bar-iframe,
.collection-digital-goods-vat-tax,
.collection-monarch-regular,
.collection-skrappa-bold-condensed,
.collection-frontpage,
#admin-bar-iframe{
  	display: none !important;
}


/* RESET CSS
================================================== */
*{
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body, div, span,
header, footer, section, article, aside, menu, nav,
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, a, strong, b, i, s, address, sub, sup,
form, label{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;


}
html{
  padding: 0px!important;
}
ol, ul, li{
	list-style: none;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
input,
button,
select{
  font-family:"helvetica";
  font-weight: bold;
  font-size: 100%;
  	padding: 0;
	margin: 0;
  	display: inline-block;
  	-webkit-appearance: none;
  	-moz-appearance: none;
    appearance: none;
  	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
  	border: 0;
    font-size:12px!important;
	color: inherit;
	background: transparent;
	background-color: transparent;
  	line-height: normal !important;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

input,
button,
select:hover{
  background-color: green;
}
input[type="checkbox"],
button,
select{
    display:block;
    cursor: pointer;
    font-family:"helvetica";
    font-weight: bold;
    background-color: lightgrey;
    padding: 5px;
}
.sold-out {
  margin-top: 10px;
  display:block;
  cursor: pointer;
  font-family:"helvetica";
  font-weight: bold;
  background-color: black;
  padding: 5px;
  width: fit-content;
  color: white;
}
button:hover{
  background-color: green;
}
input:disabled,
button:disabled,
select:disabled{
  	pointer-events: none;
	opacity: 1;
}
::-webkit-input-placeholder,
::placeholder{
  	color: inherit;
	line-height: normal !important;
  	opacity: 1;
}
::-webkit-scrollbar{
	display: none;
}
:focus{
	outline: none !important;
}
:focus::-ms-value{
  	background-color: none;
  	color: inherit;
}
::-moz-focus-inner{
  	border: none !important;
}
.active{
  	color:lightgrey;
}
a:hover{
  color:lightgrey;
}
footer img{
  right: 0px;
  bottom: 20px;
  position: absolute;
  width: 100px;
  opacity: 0.3;
}

/* BASIC STYLES
================================================== */
::selection{

}

body{
  font-size: 12px;
  line-height: 16px;
    font-family:"helvetica";
    font-weight: bold;
  	background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	width: 100%;
	height: 100%;
  	margin: auto;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
  	font-smoothing: antialiased;
}
img,
video{
	height: auto;
	display: block;
	object-fit: contain;
  	font-size: 0;
	line-height: 0;
  	transition:0.2s ease;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
a{
  	color: inherit;
  	text-decoration: none;
  	cursor: pointer;
}

/* MAIN
================================================== */
header {
    width:fit-content;
    z-index: 1000;
    top: 0px;
    position: sticky;

}
footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: grey;
}

.menu{
  font-size: 60px;
    line-height: 60px;
  align-items: center;
  padding:10px;
  grid-gap:20px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  color: black;
  position: sticky;
  top: 10px;
}
.vanessa{
  width: fit-content;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  margin: 0 auto;
}
div#cart {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    line-height: 30px;
}
.cart-total{
  margin-left: 20px;
}

/* SHOP
================================================== */
.main{
  height: fit-content;
  	padding:0px 10px 10px 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(14,1fr);
}
#main-collection.main > div:not(.events){
  	margin-bottom: 100px;
}
.info-articl {
    padding-bottom: 20px;
}
.project_info{
      padding-bottom: 20px;
}
.main .main-title{
	margin-bottom: 50px;
}
.all_products{
  grid-gap: 30px;
      grid-column: 5/ span 6;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
}
img{
	width:100%;
}

#imageContainer {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
.random-img img{
width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  Z-INDEX: 1000000000;
  transform: translate(-50%, -50%);

}
.random-img {
  Z-INDEX: 1000000000;

}
  #randomImage {
      max-width: 100%;
      height: auto;
  }
.product{
	display:grid;
  grid-gap:5px;
  height: fit-content;
  display: grid;
}
.product .main-information{
}
.product #bag-total{
}
.product #bag-total .title{
}
.product #bag-total .sale,
.product #bag-total .sold-out{
}
.product #bag-total .sale{
}
 button#add-to-cart{
}
 button#produ{
}
 button#produ.active,
 button#produ:focus{
}
 button#checkout{
}
 button#add-to-cart.active,
 button#add-to-cart:focus{
}
 button#checkout.active,
 button#checkout:focus{
}
/* STOCKIST
================================================== */
/* CART
================================================== */
.product-title{}
.product-title:hover{}
#cart-wrapper{
    grid-gap:10px;
  padding: 10px;
  display: grid;
  column-gap: 10px;
  row-gap: 5px;
  grid-column: span 14;
  grid-template-columns: repeat(14,1fr);
}
#cart-wrapper .item {
    grid-gap:10px;
  grid-column: span 10;
  grid-template-columns: repeat(10,1fr);
  display: flex;
}
#cart-wrapper .item .thumb img {
  width: 200px;
}
.cart-title{
  width: 300px;
}
.sub{
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
}
.total {
    width: 330px;
    right: 10px;
    position: fixed;
    display: flex;
      row-gap: 10px;
    flex-direction: column;
    grid-column: span 4;
}
.subtotal {
    grid-column: 8/span 5;
    text-align: left;
}
.lil-info{
  font-size: 12px;
  color: grey;
}
#cart-wrapper .item .thumb{
}
#cart-wrapper #checkout {}
.item-quantity{
  display:flex;
  justify-content: space-between;
  grid-column: span 2;
}
.item-title {
    width:50%;
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.item-quantity span{
  cursor:pointer;
}
.item-quantity span:hover{
}
.clear{
height: fit-content;
text-align: left;
}
button#add-to-cart {
    margin-top: 10px;
}
div#shopify-section-template--20038318915867__home-news {
    z-index: 100000;
}
.back-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
  opacity: 0.3;
}
@keyframes identifier {
  0%{
    width: 70vw

  }
  25%{
    width: 50vw;

  }

  50%{
    width: 20vw;

  }
  25%{
    width: 50vw;

  }

  100%{
    width: 70vw;

  }

}
.back-logo img{

animation: identifier;
animation-duration: 2s;
animation-iteration-count: infinite;
width: 70vw;
}

.variations{
  display:flex;
  grid-gap:20px;
}
button#produ {
    width: 100%;
    align-self: end;
}
.product-simple .selector-wrapper{
  display: none;
}
.checkout{
  position: sticky;
  grid-column: span 4;
  height: fit-content;
  top: 105px;
  color:black;
}
#product-select{
}
.single-option-selector{
      width: 100px;
}
.empty{
  text-transform: uppercase;
  position: fixed;
  top: 50%;
  width: 100vw;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
}
.slide {
  grid-column: span 5;
}
.product_info{
  grid-column: span 5;
}
.info-article{
  color: grey;
  text-indent: 50px;
  font-size: 12px;
  padding-top: 5px;
}
.product-price{
  color: grey;
  font-size: 12px;
}
/* FONTS
================================================== */
@font-face {
    font-family:'HelveticaNeueLTPro-BdEx';
    src: url('HelveticaNeueLTPro-BdEx.woff') format('woff');
   	font-weight: normal;
    font-style: normal;
  	font-display: swap;
}
/* STUDIO
================================================== */
/* RESPONSIVE
================================================== */
@media (max-width: 1100px){
  .menu{
font-size: 40px;
line-height: 40px;
}
.slide, .product_info {
    grid-column: span 7;
}
div#cart {
 font-size: 40px;
 line-height: 40px;
}
.all_products {
    grid-gap: 30px;
    grid-column: 4/ span 8;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.total {
  padding: 10px;
  width: 350px;
  right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  grid-column: span 6;
}
.item-title{
  width: 100%;

}
}
@media (max-width: 800px){

  .menu {
    font-size: 30px;
    line-height: 30px;
}
#cart-wrapper .item {
    grid-gap: 10px;
    grid-column: span 14;
    grid-template-columns: repeat(10,1fr);
    display: flex;
}
#cart-wrapper .item .thumb{
  width: 50%;
}
#cart-wrapper .item img{
  width: 100%!important;
}
.cart-title {
    width: 50%;
}
.total {
  padding: 10px;
  width: 50vw;
  right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  grid-column: span 6;
}
div#cart  {
  font-size: 30px;
      line-height: 30px;
}
.all_products {
    grid-gap: 30px;
    grid-column: 3/ span 10;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.main-information {
    width: 100%;
}
}
/*BIGGER DESKTOP*/
@media (min-width: 1920px){
}

/*NORMAL DESKTOP*/
@media (min-width: 1681px) and (max-width: 1920px){

}

/*BIG LAPTOP DESKTOP*/
@media (min-width: 1441px) and (max-width: 1680px){

}


/*MOBILE CARD*/
@media (max-width: 812px) and (orientation: landscape){

}

/*MOBILE LANDSCAPE*/
@media (max-width: 812px){

}

/*IPAD PORTRAIT*/
@media (max-width: 768px){

}

/*SMALL TABLET*/
@media (max-width: 600px){

}

/*MOBILE*/
@media (max-width: 500px){
  .slide{
    order: 4;
  }
  .product_info{
    order:1;
  }
  .random-img img {
      width: 50%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .menu {
    line-height: 20px;
    font-size: 20px;
}
div#cart  {
      line-height: 20px;
  font-size: 20px;
}
.main-information {
    width: 100%;
}
.all_products {
    grid-gap: 30px;
    grid-column: span 14;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.total {
  padding: 10px;
  width: 100vw;
  right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: span 6;
}

#cart-wrapper {
    grid-gap: 10px;
    padding: 10px;
    display: block;
    column-gap: 10px;
    row-gap: 5px;
    grid-column: span 14;
}
#cart-wrapper .item {
    grid-gap: 10px;
    grid-column: span 14;
    display: block;
}
#cart-wrapper .item .thumb {
    width: 70%;
}
.cart-title {
    margin-top: 5px;
    width: 100%;
}
.main {
    padding: 0 10px 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(14,1fr);
}
.slide, .product_info {
    grid-column: span 14;
}

.back-logo {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
@keyframes identifier {
  0%{
    width: 120vw
  }
  25%{
    width: 70vw;
    opacity: 1;
  }

  50%{
    width: 50vw;
    opacity: 1;
  }
  25%{
    width: 70vw;
    opacity: 1;
  }

  100%{
    width: 120vw;
  }

}
.back-logo img{
    opacity: 0.3;
animation: identifier;
animation-duration: 2s;
animation-iteration-count: infinite;
width: 120vw;
}
footer {
    padding: 10px;
    position: relative;
    /* bottom: 10px; */
    /* right: 10px; */
    font-size: 12px;
    color: gray;
}
footer.fixed {
    padding: 10px;
    position: fixed;
    /* bottom: 10px; */
    /* right: 10px; */
    font-size: 12px;
    color: gray;
}
footer img {
    right: 0;
    bottom: 32px;
    position: absolute;
    width: 100px;
    opacity: .3;
}
.credits{
  margin-top: 20px;
  text-align: right;
}
}

/*SMALL MOBILE*/
@media (max-width: 320px){

}
