{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {{ 'current-device.min.js' | asset_url | script_tag }}
  <title>ACCESS</title>
  <style type="text/css">
    * {
        box-sizing: border-box
    }
    :focus {
        outline: 0!important
    }
    body,
    form,
    html {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
    }

    form {
        position: fixed;
        top: 50%;
        left: 50vw;
        transform: translate(-50%, -50%);
        width: 350px;
        max-width: 90%;
    }

    input {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.2;
        -webkit-appearance: none;
        appearance: none;
        background: 0 0;
        background-color: transparent;
        border: none;
        text-align: center;
        color: #000!important;
        border-radius: 0
    }
    input::-webkit-input-placeholder,
    input::placeholder {
        color: #d3d3d3;
        line-height: normal!important;
        opacity: 1;
        text-transform: uppercase
    }
    input[type=password],
    input[type=text] {
        width: calc(100% - 25px/1.5);
        padding: .5rem;
        margin: 0 auto 1rem;
        display: block;
        border-bottom: 1px solid #000
    }
    input[type=submit] {
        width: 100%;
        padding: .75rem;
        margin-top: 1rem;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        border-radius: 1000px;
        box-shadow: 0 0 7px rgba(0, 0, 0, .25);
        cursor: pointer;
        transition: background .5s ease
    }
    .desktop input[type=submit]:hover {
        color: #000!important;
        background: #59ff00!important
    }
	/*!!!*/
    .login-error::placeholder {
        color: red!important
    }
    .login-error~input[type=submit] {
        color: #fff!important;
        background: red
    }
  </style>
</head>
<body>
  
  {% form 'storefront_password' %}
  
  	{{ form.errors | default_errors }}
  	<input type='password' placeholder="password" name='password' id='password' />
  	<input class="btn" name="commit" type="submit" value="ACCESS" />
  
  {% endform %}

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
